/* ---- reset ---- */

body {
    margin: 0;
    font: Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #232741;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;*/
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.main-header .main-menu ul li>a {
    color: #fff;
}

section .skew-white, footer .skew-white {
    background: #fdfcff;
    box-shadow: 0 0 20px rgba(66,50,93,0.4), 0 0 100px rgba(66,50,93,0.25);
}

.skew-white{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transform: skewY(-10deg);
}

.main-img{
z-index: 2;
    position: relative;
}


section .skew-white, section .skew-gradient, section .skew-gray, footer .skew-white, footer .skew-gradient, footer .skew-gray {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transform: skewY(-10deg);
}

.hero-wrap .slider-text h1 {
    font-size: 40px;
}

.ftco-section {
    padding-top: 2em;
    padding-right: 0px;
    padding-bottom: 1em;
    padding-left: 0px;
}

.services{
    color: #fff;
    background: #6927ff;
}
.heading{
    color: #fff
}

.card-title .heading{
    font-size: 20px;
    font-weight: 700;
}

.ftco-navbar-light {
    top: 0px;
    /*-webkit-box-shadow: 0px 9px 6px #F4F7F9;
    -moz-box-shadow: 0px 9px 6px #F4F7F9;
    box-shadow: 0px 9px 6px #F4F7F9;*/
}

.ftco-footer .ftco-footer-widget {
    text-align: center;
}
.ftco-footer .ftco-footer-widget h2 {
    margin-bottom: 20px;
}

.ftco-animate {
    text-align: center;
}

.ftco-navbar-light.scrolled {
    -webkit-box-shadow: 0px 9px 6px #F4F7F9;
    -moz-box-shadow: 0px 9px 6px #F4F7F9;
    box-shadow: 0px 9px 6px #F4F7F9;
}

.block-23 ul li, .block-23 ul li > a {
    display: inline;
}
.ftco-footer a:hover {
    text-decoration: underline;
}

#hero .container {
    height: 100%;
}
.aligner {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}
.wf {
    color: #fdfcff;
}
.aligner .aligner-item {
    flex: 1;
}



section .skew-gradient{
    background: linear-gradient(135deg, var(--light-orange) 0%, var(--red-orange) 100%);
}

#hero {
    min-height: 100vh;
    padding-bottom: 120px;
    padding-top: 120px;
    text-align: center;
}

section .skew-overlay.pattern, footer .skew-overlay.pattern {
    background-image: url('../../img/cromo.png');
    opacity: .5;
    animation: movebck 45s infinite linear;
}
section .skew-overlay, footer .skew-overlay {
    position: absolute;
    top: -200px;
    bottom: -200px;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
#hero .skew-gradient {
    top: -260px;
}
section .skew-white, footer .skew-white {
    background: #fdfcff;
    box-shadow: 0 0 20px rgba(66,50,93,0.4), 0 0 100px rgba(66,50,93,0.25);
}

@keyframes movebck {
    from {
        background-position: -100% 0%
    }
    to {
        background-position: 100% 100%
    }
}
#hero h1, #hero h2 {
    margin: 0 0 40px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 52px;
}
#hero h1, #hero p.lead, #hero a:not(.btn) {
    text-shadow: 0 1px 2px rgba(66,50,93,0.35);
}

@media (max-width: 992px){
    #hero p.lead {
    font-size: 16px;
}
#hero h1 {
    font-size: 36px;
}
}



.mouse-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  height: 42px;
  width: 30px;
  margin: auto;
  z-index: 2;
  border-radius: 15px;
  border: 3px solid #fff;
  background: #333;
}
.mouse-icon .wheel {
    display: block;
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 3px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: down;
            animation-name: down;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
}

@-webkit-keyframes down {
    0%   { top:5px; opacity: 0; }
    30%  { top:15px; opacity: 1; }
    60%  { top:15px; opacity: 0.60; }
    100% { top:25px; opacity: 0; }
}

@keyframes down {
    0%   { top:5px; opacity: 0; }
    30%  { top:15px; opacity: 1; }
    100% { top:25px; opacity: 0; }
}
