/*https://www.canva.com/colors/color-palettes/forever-fields/*/
:root {
  --black: #2D2926;/*PANTONE Black C*/
  --orange: #ff5e00; /*PANTONE Orange 021 C*/
  --red-orange: #FF4500;
  --light-orange: #FF8300;
  --chili-pepper: #DF362D;
  --white: #FCFAF1; /*PANTONE P 1-1 U*/
  --chartreuse:#B7AC44;
}
