
.black{
    color: var(--black)
}
.bg-black{
    background-color: var(--black)
}
.orange{
    color: var(--orange)
}
.bg-orange{
    background-color: var(--orange)
}
.white{
    color: var(--white)
}
.bg-white{
    background-color: var(--white)
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent;
}
